0,15,30,45 * * * * *
 # ©°©¤©¤©¤©¤©¤©¤©¤©¤©¤©¤©¤©¤©¤©¤ second (optional)
 # ©¦ ©°©¤©¤©¤©¤©¤©¤©¤©¤©¤©¤©¤©¤ minute
 # ©¦ ©¦ ©°©¤©¤©¤©¤©¤©¤©¤©¤©¤©¤ hour
 # ©¦ ©¦ ©¦ ©°©¤©¤©¤©¤©¤©¤©¤©¤ day of month
 # ©¦ ©¦ ©¦ ©¦ ©°©¤©¤©¤©¤©¤©¤ month
 # ©¦ ©¦ ©¦ ©¦ ©¦ ©°©¤©¤©¤©¤ day of week
 # ©¦ ©¦ ©¦ ©¦ ©¦ ©¦
 # ©¦ ©¦ ©¦ ©¦ ©¦ ©¦
 # * * * * * *